<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
     :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }
    
    .tt {
        color: #1976d2;
    }
    
    p {
        margin: 0;
    }
    
    .spacer {
        flex: 1;
    }
    
    .bta {
        margin-right: 30px;
        background-color: white;
        border: none;
        border-radius: 2px;
    }
    
    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #1976d2;
        color: white;
        font-weight: 600;
    }
    
    .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
    }
    
    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }
    
    a:hover {
        color: #125699;
    }
    
    .btn {
        color: white;
        background-color: #1976d2;
        border: none;
        border-radius: 2px;
        display: block;
        padding: 1.6px 3px;
    }
    
    .btn:hover {
        background-color: #125699;
    }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span><h1>.       My Story</h1></span>
    <div class="spacer"></div>

    <button class="bta"><a href="#">CheckOut</a></button>

</div>

<div class="content" role="main">

    <div>
        <p>Products</p>
        <br>
        <h1 class="tt">Phone XL</h1>
        <p>Description: A large phone with one of the best screens</p>
        <br>
        <button class="btn">Shere</button>
        <br>
        <button class="btn">Notify me</button>
    </div>

    <div>

        <br>
        <h1 class="tt">Phone Mini</h1>
        <p>Description: A large phone with one of the best screens</p>
        <br>
        <button class="btn">Shere</button>
        <br>
        <button class="btn">Notify me</button>
    </div>
    <div>

        <br>
        <h1 class="tt">Phone Standard</h1>
        <p>Description: A large phone with one of the best screens</p>
        <br>
        <button class="btn">Shere</button>
        <br>
        <button class="btn">Notify me</button>
    </div>



</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>